.header {
    min-height: 100vh;
    width: 100%;
    background-color: coral;
    /* height:100vh; */
}

.normal-text {
    color: rgba(250, 250, 250, 0.74);
    text-decoration: none;


}

.normal-text:focus {
    border-color: solid rgba(255, 255, 255, 0.404);
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
    color: rgba(255, 255, 255, 0.658);
}

.normal-text:hover {
    transform: translateY(-2px);
    color: rgb(87, 87, 87);
    background-color: rgb(245, 177, 153);
    border-radius: .4rem;
    transition: 0.5s;
}

.normal-text:active {
    background-color: rgb(250, 187, 255);
    border-radius: .4rem;
    border-color: rgba(0, 0, 0, 0.15);
    box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
    color: rgba(0, 0, 0, 0.65);
    transition: 0.5s;
    transform: translateY(1px);
}

.text-box {
    margin-top: 2rem;
    margin-left: 6rem;
    font-size: 3vw;
    font-family: 'Caveat', cursive;
    font-weight: 600;
}

.child-text-box {
    padding: -1rem 11rem;
    font-weight: 700;
    font-size: 4vw;
    font-family: 'Noto Sans TC', sans-serif;
    color: white;
}

nav {
    display: flex;
    padding: 1rem 10rem;
    justify-content: space-between;
}

.nav-links {
    font-size: 1vw;
    font-family: sans-serif;
    flex: 1;
    margin: 0;
    margin-left: 3rem;
    text-align: left;
    /* padding: 0rem 10rem; */
    /* align-items: center; */
    display: block;

}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding-left: 2.5rem;
    position: relative;
}

.icon {
    color: rgb(255, 255, 255);
    height: 1.8rem;
    background-color: rgba(255, 255, 255, 0.041);
    border-radius: 50%;
}

.button-1 {
    align-items: center;
    background-color: coral;
    border: 1px solid rgba(255, 255, 255, 0.404);
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    box-sizing: border-box;
    color: white;
    cursor: pointer;
    display: inline-flex;
    font-family: system-ui, -apple-system, system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1vw;
    font-weight: 600;
    margin-left: 4rem;
    justify-content: center;
    line-height: 1.25;
    margin: 0;
    min-height: 3rem;
    padding: calc(.875rem - 1px) calc(1.5rem - 1px);
    position: relative;
    text-decoration: none;
    transition: all 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    width: auto;
}

.button-1:hover,
.button-1:focus {
    border-color: solid rgba(255, 255, 255, 0.404);
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
    color: white;
}

.button-1:hover {
    transform: translateY(-2px);
    background-color: rgba(245, 245, 245, 0.377)
}

.button-1:active {
    background-color: #F0F0F1;
    border-color: rgba(0, 0, 0, 0.15);
    box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
    color: rgba(0, 0, 0, 0.65);
    transform: translateY(1px);
}

.search-box {
    margin-top: .7rem;
    padding-top: 2rem;
}

form {
    background: rgb(255, 255, 255);
    width: 32rem;
    height: 3rem;
    display: flex;
    border-radius: .7rem;
}

form input {
    background-color: rgb(255, 255, 255);
    flex: 1;
    border: none;
    outline: none;
    border-radius: .7rem;
}

form button {
    background: rgb(255, 156, 138);
    border-radius: .7rem;
    padding: 0rem 2.3rem;
    margin-right: .08rem;
    margin-top: .1rem;
    margin-bottom: .1rem;
    border: none;
    outline: none;
    letter-spacing: normal;
    color: white;
    cursor: pointer;
}

form button:hover,
form button:focus {
    transition: 0.5s;
    background: rgb(240, 118, 97);
    border-color: solid rgba(0, 0, 0, 0.404);
    box-shadow: rgba(0, 0, 0, 0.1) 0 1rem 4rem;
    color: rgb(255, 255, 255);
}

form button:active {
    background: rgb(255, 156, 138);
    /* border-color: rgba(0, 0, 0, 0.15); */
    box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
    color: rgba(0, 0, 0, 0.65);
    transform: translateX(0.5px);
}

/* .media-icons {
    
    
} */

.media-icons ul {
    position: absolute;
    display: flex;
    margin-top: 6rem;
    margin-left: 4rem;
}

.media-icons ul li {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    list-style: none;
}

.media-icons ul li a ion-icon {
    position: relative;
    width: 2.5rem;
    height: 2.5rem;
    display: block;
    text-align: center;
    margin: 0 10px;
    border-radius: 50%;
    padding: 6px;
    box-sizing: border-box;
    text-decoration: none;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
    background: linear-gradient(0deg, #e7e7e7, #ffffff8e);
    transition: .5s;
}

.media-icons ul li a ion-icon:hover {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    text-decoration: none;
}

.media-icons ul li a ion-icon {
    background: linear-gradient(0deg, #ffffffa9, #ffffff);
    border-radius: 50%;
    line-height: calc(60px - 12px);
    font-size: 24px;
    color: #262626;
    transition: 0.5s;
}

.media-icons ul li:nth-child(1) a ion-icon:hover {
    color: #3b5998;
}

.media-icons ul li:nth-child(2) a ion-icon:hover {
    color: #00aced;
}

.media-icons ul li:nth-child(3) a ion-icon:hover {
    color: #e4405f;
}

.container {
    margin-top: 4rem;
    margin-bottom: 4 rem !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.small-heading {
    background-color: lightgreen;
    height: 2rem;
    width: 8rem;
    text-align: center;
    border-radius: 10%;

}

.small-heading-text {
    color: white;
    margin-top: 3px;
    font-size: 1.3vw;
}


.heading {
    text-align: center;
    height: 5rem;
    width: 100%;
}

.heading-text {
    margin-top: 10px;
    font-size: xxx-large;
    font-weight: bold;
    font-size: 3.5vw;


}

.categories-list {
    width: 80%;
    margin-top: 50px;
    /* display:flex; */
}

.categories-list-box {
    list-style-type: none;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.categories-list-item {
    height: 180px;
    width: 120px;
    background-color: lightgrey;
    filter: brightness(108%);
    border-radius: 10%;

    /* border:2px solid black; */
}

.categories-list-icon-circle {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    background-color: white;
    margin-top: 20px;
    margin-left: 19px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    /* border:2px solid black; */
}

.count {
    height: 2rem;
    width: 2rem;
    position: absolute;
    top: 10%;
    left: 60%;
    border-radius: 50%;
    background: lightgreen;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border:2px solid black; */
}

.normal-bold-text {
    color: black;
    text-align: center;

}

.normal-text-grey {
    color: grey;
    font-size: 1.1rem;
}

.normal-text-categories {
    color: grey;
    font-size: 1.1rem;
    text-align: center;
    margin: 0;

}

.restaurants-list {
    width: 100%;



    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style-type: none;
}

.restaurants-list-item {
    height: 14rem;
    width: 12rem;
    border-radius: 10%;
    background-color: lightgrey;
}

.restaurants-image {
    /* filter: contrast(100%); */
    background-position: center;
    position: relative;
}

.restaurants-list-rating {
    height: 1.5rem;
    width: 3.5rem;
    position: absolute;
    margin-left: 1.5rem;
    margin-top: 1rem;
    border-radius: 10%;

    background-color: lightsalmon;

}

.map {
    height: 40rem;
    width: 100%;
    display: flex;
    /* flex-wrap:wrap; */
    flex-direction: row;
}

.map-search {
    margin-top: 8rem;
    height: 25rem;
    width: 50%;

}

.small-heading-map {
    background-color: lightgreen;
    height: 25px;
    width: 120px;
    text-align: center;
    border-radius: 10%;
    margin: 0;


}

.heading-map {

    height: 10rem;
    font-size: 5rem;
    margin: 0;

}

.normal-text-map {
    color: grey;
    font-size: 1.1rem;
    text-align: center;
    margin: 0;

}

.input-search-map {
    height: 2rem;
    width: 10rem;

}

.map-icon {
    border: 1px solid grey;
}

form i {
    position: absolute;
}

.dishes {
    display: flex;
    flex-direction: column;
    width: 80%;
    justify-content: flex-start;
    margin-left: 10%;
}

.dishes-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 40rem;
    list-style-type: none;
}

.dish-item {
    display: flex;
    flex-direction: row;
    height: 10rem;
    width: 45%;
    border: 2px dashed brown;
}

.menu-text {
    display: inline-block;
    margin-left: 2rem;
}

/* .text-container{
    background-color:coral;
    height:20rem;
    width:100%;
} */
.communication-container {
    height: 21rem;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.646);


}

.communication-outer-container {
    border-bottom: 1px solid lightcyan;
    margin-left: 10%;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.communication-text {
    height: 15rem;
    width: 20rem;

    margin: 1rem;
    margin-left: 4rem;

}

.communication-menu {
    height: 15rem;
    width: 20rem;

    margin: 1rem;


}

.communication-input {
    margin-left: 3rem;
    height: 15rem;
    width: 20rem;

    margin: 1rem;
    margin-right: 4rem;
}

.conditions-menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

@media screen and (max-width:1920px) {
    .hamburger-icon {
        display: none;
    }

    .normal-text {
        font-size: 1rem;
    }
}

@media screen and (max-width:1025px) {
    .hambuger-icon {
        display: none;
    }

    .categories-list-box {


        height: 30rem;
    }

    .restaurants-list {
        height: 35rem;
    }

    communication-container {
        height: auto;
        background-color: rgba(0, 0, 0, 0.646);
    }

    .communication-outer-container {
        border-bottom: 1px solid lightcyan;
        margin: 0 5%;
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .communication-text {
        height: auto;
        width: 100%;
        margin: 1rem 0;
        text-align: center;
    }

    .communication-menu {
        height: auto;
        width: 100%;
        margin: 1rem 0;
        text-align: center;
    }

    .communication-input {
        height: auto;
        width: 100%;
        margin: 1rem 0;
        text-align: center;
    }

    .conditions-menu {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }

}

@media screen and (max-width:768px) {
    .map {
        height: 30rem;
        flex-direction: column;
    }

    .map-search {
        width: 100%;
        height: 20rem;
        margin-top: 2rem;
    }

    .heading-map {
        font-size: 3rem;
        height: 7rem;
    }

    .normal-text-map {
        font-size: 1rem;
    }

    .nav-links {
        display: none;
    }

    .hamburger-icon {
        display: inline;
    }

    .map {
        height: 60rem;
    }

    .dishes-list {
        flex-direction: column;

        height: 100rem;

    }

    .dish-item {

        height: 15rem;
        width: 100%;
        border: 2px dashed brown;
    }

    .restaurants-list {
        justify-content: center;
    }

    .restaurants-list-item {
        height: 12rem;
        width: 45%;
        margin-bottom: 2rem;
    }

    .restaurants-image {
        height: 8rem;
    }

    .restaurants-list-rating {
        height: 1.2rem;
        width: 2.5rem;
        margin-left: 0.5rem;
        margin-top: 0.5rem;
    }

    .search-box {
        margin-top: .5rem;
        padding-top: 1.5rem;
    }

    form {
        background: rgb(255, 255, 255);
        width: 90%;
        height: 2.8rem;
        display: flex;
        border-radius: .7rem;
    }

    form input {
        background-color: rgb(255, 255, 255);
        flex: 1;
        border: none;
        outline: none;
        border-radius: .7rem;
        font-size: 1rem;
    }

    form button {
        background: rgb(255, 156, 138);
        border-radius: .7rem;
        padding: 0rem 1.5rem;
        position: absolute;
        margin-left: 9.3rem;
        height: 2.6rem;
        margin-left: 9.4rem;
        margin-right: 2rem;
        margin-top: .1rem;
        margin-bottom: .1rem;
        border: none;
        outline: none;
        letter-spacing: normal;
        color: white;
        cursor: pointer;
        font-size: 1rem;
    }

    form button:hover,
    form button:focus {
        transition: 0.5s;
        background: rgb(240, 118, 97);
        border-color: solid rgba(0, 0, 0, 0.404);
        box-shadow: rgba(0, 0, 0, 0.1) 0 1rem 4rem;
        color: rgb(255, 255, 255);
    }

    form button:active {
        background: rgb(255, 156, 138);
        /* border-color: rgba(0, 0, 0, 0.15); */
        box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
        color: rgba(0, 0, 0, 0.65);
        transform: translateX(0.5px);
    }

    .communication-container {
        height: auto;
        background-color: rgba(0, 0, 0, 0.646);
    }

    .communication-outer-container {
        border-bottom: 1px solid lightcyan;
        margin: 0 5%;
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .communication-text {
        height: auto;
        width: 100%;
        margin: 1rem 0;
        text-align: center;
    }

    .communication-menu {
        height: auto;
        width: 100%;
        margin: 1rem 0;
        text-align: center;
    }

    .communication-input {
        height: auto;
        width: 100%;
        margin: 1rem 0;
        text-align: center;
    }

    .conditions-menu {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }

}